{{!< default}}

{{> "components/header" headerStyle=@custom.header_style}}

<main class="gh-main gh-outer">
    <div class="gh-inner gh-container has-sidebar">
        <div class="gh-container-inner">
            <div class="gh-main">
                <article class="gh-content home-content" style="max-width:720px; margin:0 auto;">
            
                    <h1 class="is-title" style="margin-top:50px;">歡迎來到 Skychopath.</h1>

                    <p>Skychopath. 是我的英文名字 Sky 和國中當時的自我認同 Psychopath 組合起來的網名。原先是在 IG 上的 handle，但會開始把不同的平台也放上這個名字。</p>
                    
                    {{#if @site.cover_image}}
                        <figure class="gh-article-image home-cover">
                            <img
                                src="{{@site.cover_image}}"
                                alt="{{@site.title}}"
                                style="width:80%; height:auto; display:block; margin:0 auto;"
                            >
                            <figcaption class="home-cover-caption is-body">
                                嗨這我。 Credit: <a href="https://www.flickr.com/photos/sitcon/53699989882/in/album-72177720316718841">Rong</a>
                            </figcaption>
                        </figure>
                    {{/if}}


                    <h2>用 10 秒鐘認識我</h2>
                    <p>我是洪軾凱 Sky Hong，是身分證字號是 D 開頭的臺北人。可以叫我 Sky 或蓋蓋。</p>
                    <p>專業以資訊工程和資料科學為主，專長是自然語言處理，逐漸往群眾智慧和人機互動等領域發展中。</p>
                    <p>我喜歡玩音樂，精確一點是演奏口琴、豎笛和各種樂器，同時也在學習編曲和即興。</p>
                    <p>除此之外還喜歡玩單機遊戲（角色扮演、獨立遊戲和視覺小說）、接觸各種形式的作品和聽/研究各種作品的音樂原聲帶。</p>
                    <p>我很外向、很屁，通常對事都樂觀看待。我相信群眾的力量能帶來正面影響，也熱愛擁抱開放文化的健康環境。</p>
            
                    <h2>用 10 分鐘認識我</h2>
                    <p>我其實不太會自我介紹，很想要好好寫成一篇文但我好懶。如果寫完的話會放在 <a href="https://skyhong.tw/about">/about</a>。</p>
                    <p>不過在此同時，我實際上做過的事情大部分可以去 <a href="https://cv.skyhong.tw/">cv.skyhong.tw</a> 看。</p>

                    <h2>這個網站是什麼？</h2>
                    <p>Skychopath. 是我的個人網站。沒錯，你認為個人網站會出現的東西，這裡應該也會出現。但主要會更新的內容以文章為主，歡迎自行找找這個網站上方和下方的連結們。</p>
                    <p>你可以透過 <a href="https://skyhong.tw/rss">RSS</a> 訂閱這個網站（<a href="https://wiwi.blog/blog/you-should-use-rss/">每個人都應該要學會使用 RSS</a>）。</p>
                    <p>如果你有興趣的話，也可以到 <a href="https://skyhong.tw/guestbook">/guestbook</a> 留下你的文字。</p>

                    <h2>想知道我最近在做什麼？</h2>
                    <p>可以去我的 <a href="https://skyhong.tw/now">/now 頁面</a> 看。</p>

                    <h2>我的聯絡方式</h2>
                    <p>通常在所有社群媒體中，Instagram 和 Facebook 仍然是我最常使用的平台。</p>
                    <p>歡迎使用 Signal (@skyhong.886) 和 <a href="https://t.me/skyhong2002">Telegram</a> 和我聊天，我很喜歡且偏向使用這些通訊軟體。</p>
                    <p>不過我更喜歡書信往來。歡迎寄到 <a href="mailto:me@skyhong.tw">me@skyhong.tw</a>，我每一封都會讀且回信。</p>

                </article>
            </div>

            <aside class="gh-sidebar">
                <div class="gh-sidebar-inner">
                    <section class="gh-about">
                        {{#if @site.icon}}
                        <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}" loading="lazy">
                        {{/if}}
                        <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                        {{#if @site.description}}
                        <p class="gh-about-description is-body">{{@site.description}}</p>
                        {{/if}}
                        {{#if @site.members_enabled}}
                            {{#unless @member}}
                                <button class="gh-button" data-portal="signup">Subscribe</button>
                            {{else}}
                                {{#if @site.paid_members_enabled}}
                                    {{#unless @member.paid}}
                                        <button class="gh-button" data-portal="upgrade">Upgrade</button>
                                    {{/unless}}
                                {{/if}}
                            {{/unless}}
                        {{/if}}
                    </section>

                    {{#if @site.recommendations_enabled}}
                    <section class="gh-recommendations">
                        <h4 class="gh-sidebar-title">Recommendations</h4>
                        {{recommendations}}
                        <button data-portal="recommendations">See all {{> "icons/arrow"}}</button>
                    </section>
                    {{/if}}
                </div>
            </aside>

        </div>
    </div>
</main>

{{> "components/cta"}}